*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F4FF;
    color: #3D2C5A;
    padding-top: 90px;
    padding-bottom: 20px;
}

.accordion-content{
    background-color: #F9A8D4;
    width: 100%;
    max-width: 700px;
    padding: 12px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
nav{
    top: 0;
    position: fixed;
    background-color: #C8B6FF;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5F5878;
    padding: 8px;
}
nav img{
    width: 60px;
}
.accordion-header{
    background-color: #FFFFFF;
    color: #3D2C5A;
    font-family: "Inter";
    font-size: 16px;
    width: 100%;
    max-width: 700px;
    height: 50px;
    border-radius: 10px;
    border: solid #E5DFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.melhores-runas{
   padding: 13px;
}
.arrow{
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    padding: 2px;
}
.arrow.active{
    transform: rotate(180deg);
}
.arrow:hover{
    background-color: #5F5878;
    color: white;
    cursor: pointer;
}

/* Responsividade */

@media (min-width: 480px){
    .accordion-header{
        font-size: 18px;
    }
    nav img{
        width: 80px;
    }
}

@media (min-width: 768px){
    body{
        padding-top: 110px;
    }
    .accordion-header{
        font-size: 20px;
    }
    nav img{
        width: 100px;
    }
}